@import '@/styles/variables.scss';

.header {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 16rem;
    background-image: url('../../assets/images/background.jpg');
}

.container {
    width: 100vw;
    padding: 0 $padding-mobile 0 $padding-mobile;
}

.line {
    width: 100%;
    height: 2px;
    background-color: $color-primary;
    margin: 4rem 0 0 0;
}

.title {
    font-size: 1.7rem;
    font-weight: $font-regular;
    text-transform: uppercase;
    margin-top: 2rem;
}

@media all and (min-width: 1024px) {
    .container {
        padding: 0 $padding-desktop 0 $padding-desktop;
    }

    .line {
        margin: 6rem 0 0 0;
    }

    .title {
        font-size: 6rem;
        margin-top: 3rem;
    }
};