@import '@/styles/variables.scss';


.header {
    background-image: url('../../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.container {
    padding: 6rem 2.5rem 0 2.5rem;
}

.titleContent {
    margin: 2rem 0 0 0;
}

.title {
    font-family: $font-secondary;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-forthary;
    font-size: 3.5rem;

    & > span {
        margin-left: 1rem;
        font-size: 1.5rem;
    }
}

.projectsPreview {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
}

.projectsList {
    list-style: none;
    height: 100%;
}

.projectCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 20rem;
    height: 4rem;
}

.projectLink {
    color: $color-primary;
    text-transform: uppercase;
    line-height: 1.5rem;
}

.projectLink {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projectLink > span {
    margin-bottom: 0.5rem;
}

.line {
    width: 80%;
    height: 2px;
    background-color: #000000
}

@media all and (min-width: 768px) {
    .title {
        font-size: 6rem;
    }

    .projectsList{
        width: 100%;
    }

    .projectCard {
        width: 100%;
    }

    .projectLink{
        width: 100%;
        font-size: 1.75rem;
    }
}

@media all and (min-width: 1024px) {
    .container {
        padding: 6rem 8rem 0 8rem;
    }

    .title {
        font-size: 6rem;
        & > span {
            margin-left: 3rem;
            font-size: 2.5rem;
        }
    }

    .projectsList {
        width: 30%;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 40rem;
    }

    .projectPreview {
        display: block;
        border-radius: 20px;
        width: 50%;
    }

    .projectCard {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        height: 4rem;
    }

    .line {
        width: 100%;
        height: 2px;
        background-color: #000000
    }
};