@import "@/styles/variables.scss";

.container {
    width: 100%;
    height: 30rem;
    border-radius: 20px;
    background-color: rgb(24, 24, 24);
    color: white;
}

.easterModalTop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
}

.easterModalMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 12rem;
}

.easterModalBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 12rem;
}

.CTRLUPlogo {
    width: 5rem;
    height: 5rem;
}

.nyanCat {
    width: 100%;
}

.slogan {
    font-weight: 700;
    font-size: 1rem;
    background: linear-gradient(90.02deg, #F297C7 0%, #E0DEC4 25.51%, #B6F7C8 51.54%, #A6C3FF 75.49%, #BA91F4 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ctrlupLink {
    font-weight: 700;
    font-size: 2rem;
    background: linear-gradient(90.02deg, #F297C7 0%, #E0DEC4 25.51%, #B6F7C8 51.54%, #A6C3FF 75.49%, #BA91F4 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media all and (min-width: 1024px) {
    .container {
        height: 30rem;
    }

    .easterModalTop {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 5rem;
    }

    .easterModalTop > p {
        margin-right: 2rem;
    }
    
    .easterModalMiddle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 12rem;
    }
    
    .easterModalBottom {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 12rem;
    }
    
    .CTRLUPlogo {
        width: 8rem;
        height: 8rem;
    }
    
    .nyanCat {
        width: 40%;
    }
    
    .slogan {
        font-size: 3rem;
    }
    
    .ctrlupLink {
        font-size: 3rem;
    }
}