@import '@/styles/variables.scss';


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem $padding-mobile;
}

.logoLink {
    color: $color-primary;
}

.menuButton {
    border: none;
    background-color: transparent;
}

.line {
    width: 2rem;
    height: 2px;
    margin: 1rem 0;
    background-color: $color-primary;
}

@media all and (min-width: 1024px) {
    .navbar {
        padding: 2rem $padding-desktop;
    }
}