@import '@/styles/variables.scss';


.header {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 16rem;
    background-image: url('../../assets/images/background.jpg');
}

.container {
    width: 100vw;
    padding: 0 $padding-mobile 0 $padding-mobile;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 9rem;
}

.title {
    font-family: $font-primary;
    font-weight: $font-regular;
    text-transform: uppercase;
    font-size: 3rem;
}

.titleDescription {
    font-weight: 200;
    font-size: 0.9rem;
}

.line {
    height: 2px;
    width: 100%;
    margin: 1rem 0;
    border-bottom: 2px solid black;
}

.name {
    margin: 2rem 0;
    font-family: $font-primary;
    font-weight: $font-regular;
    text-transform: uppercase;
    font-size: 1.7rem;
}

.about {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
}

.aboutContent {
    width: auto;
    line-height: 1.5rem;
}

.profile {
    width: 100%;
    height: 16rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.skills {
    margin: 3rem 0 0 0;
}

.skillsTitle {
    font-weight: $font-regular;
    font-size: 3rem;
    text-transform: uppercase;
}

.block > p {
    margin: 1.5rem 0;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.otherLink {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin-bottom: 4rem;
}

.contactLink {
    font-size: 3rem;
    text-transform: uppercase;
    color: black;
}


@media all and (min-width: 1024px) {
    .header {
        height: 18rem;
    }
    .container {
        height: 8rem;
        padding: 0 $padding-desktop 0 $padding-desktop;
    }
    
    .titleContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 7rem;
        padding: 1rem 0 3rem 0;
    }
    
    .title {
        font-family: $font-primary;
        font-weight: $font-regular;
        text-transform: uppercase;
        font-size: 5rem;
    }
    
    .titleDescription {
        margin: 1.5rem 0;
        font-weight: 200;
        font-size: 0.9rem;
    }

    .content {
        margin-top: 4rem;
    }

    .line {
        margin: 0;
        padding: 1rem;
    }

    .name {
        font-size: 4rem;
    }

    .about {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        margin: 4rem 0;
    }
    
    .aboutContent {
        width: 60%;
        margin: 0 2rem 0 0;
        line-height: 1.5rem;
    }
    
    .profile {
        width: 50%;
        height: auto;
        margin: 0 0 2rem 2rem;
        border-radius: 1rem;
    }

    .skills {
        margin: 4rem 0;
    }

    .skillsTitle {
        font-weight: $font-regular;
        font-size: 5rem;
        text-transform: uppercase;
    }

    .skillsList {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;
    }

    .otherLink {
        width: 100%;
        height: 10rem;
        margin-bottom: 8rem;
    }
    
    .contactLink {
        font-size: 5rem;
    }
}