@import "@/styles/variables.scss";

@import "./variables.scss";

.container {
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  max-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;
  padding: 8rem $padding-mobile 0 $padding-mobile;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 8rem;
}

.statusCode {
  font-size: 6rem;
  font-weight: 500;
}

@media all and (min-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    padding: 12rem $padding-desktop 4rem $padding-desktop;
  }

  .content {
    height: 8rem;
  }

  .statusCode {
    padding-bottom: 2rem;
    font-size: 8rem;
    font-weight: 500;
  }
}
