@font-face {
  font-family: "SaolDisplay";
  src: url("../assets/fonts/SaolDisplay/SaolDisplay-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Plus_Jakarta_Sans";
  src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Plus_Jakarta_Sans";
  src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-ExtraLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "Plus_Jakarta_Sans";
  src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Plus_Jakarta_Sans";
  src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Plus_Jakarta_Sans";
  src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Plus_Jakarta_Sans";
  src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Plus_Jakarta_Sans";
  src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Plus_Jakarta_Sans";
  src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Plus_Jakarta_Sans";
  src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Plus_Jakarta_Sans";
  src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-SemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Plus_Jakarta_Sans";
  src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Plus_Jakarta_Sans";
  src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Plus_Jakarta_Sans";
  src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Plus_Jakarta_Sans";
  src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-ExtraBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 800;
}