@import '@/styles/variables.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  text-decoration: none;
  font-family: $font-primary;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-size: 1rem;
}

@media all and (min-width: 768px) {
  * {
    font-size: 1.1rem;
  }
}

@media all and (min-width: 1024px) {
  * {
    font-size: 1rem;
  }
}

#lang-0 {
  opacity: 0;
}
#lang-1 {
  opacity: 0;
}
#lang-2 {
  opacity: 0;
}
#lang-3 {
  opacity: 0;
}
#lang-4 {
  opacity: 0;
}
#lang-5 {
  opacity: 0;
}
#lang-6 {
  opacity: 0;
}
#lang-7 {
  opacity: 0;
}
#lang-8 {
  opacity: 0;
}
#lang-9 {
  opacity: 0;
}
#lang-10 {
  opacity: 0;
}