@import '@/styles/variables.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  text-decoration: none;
  font-family: $font-primary;
  // -webkit-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}

#img-0 {
  opacity: 0;
}

#img-1 {
  opacity: 0;
}

#img-2 {
  opacity: 0;
}

#img-3 {
  opacity: 0;
}

#img-4 {
  opacity: 0;
}

#img-5 {
  opacity: 0;
}