@import '@/styles/fonts.scss';


$padding-mobile: 2.5rem;
$padding-desktop: 8rem;

$color-primary: #000;
$color-secondary: #fff;
$color-thirdary: #050F29;
$color-forthary: #2657DA;

$font-primary: 'Plus_Jakarta_Sans';
$font-secondary: 'SaolDisplay';

$font-regular: 400;