@import '@/styles/fonts.scss';


$padding-mobile: 2.5rem;
$padding-desktop: 8rem;

$color-primary: #000;

$font-primary: 'NeueMachina';
$font-secondary: 'SaolDisplay';
$font-thirdary: 'Helvetica Neue';

$font-regular: 400;