@import '@/styles/variables.scss';


.name {
    margin: 2rem 0;
    font-family: $font-primary;
    font-weight: $font-regular;
    text-transform: uppercase;
    font-size: 1.7rem;
}

.about {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
}

.aboutContent {
    width: auto;
    line-height: 1.5rem;
}

.profile {
    width: 100%;
    height: 16rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

@media all and (min-width: 1024px) {
    .container {
        margin-top: 4rem;
    }

    .line {
        margin: 0;
        padding: 1rem;
    }

    .name {
        font-size: 4rem;
    }

    .about {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        margin: 4rem 0;
    }
    
    .aboutContent {
        width: 60%;
        margin: 0 2rem 0 0;
        line-height: 1.5rem;
    }
    
    .profile {
        width: 50%;
        height: auto;
        margin: 0 0 2rem 2rem;
        border-radius: 1rem;
    }
};