@import '@/styles/variables.scss';

.content {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    padding: 3rem $padding-mobile 0 $padding-mobile;
    background-color: $color-thirdary;
}

.navList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 25rem;
    margin-top: 5rem;
    list-style: none;
}

.navLink {
    color: $color-secondary;
    font-size: 3rem;
}


@media all and (min-width: 1024px) {
    .content {
        height: 100vh;
        padding: 3rem $padding-desktop 0 $padding-desktop;
      }

      .navList {
        height: 75%;
        padding-left: 40rem;
      }

      .navLink {
        font-size: 5rem;
    }
};